{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Jshop</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To The jshop</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/></br>
                <p align="justify">
                환영합니다! jShop은 고객들에게 다양한 제품과 품질 높은 서비스를 제공하기 위해 노력하고 있는 온라인 쇼핑 몰입니다. 우리는 최신 트렌드를 반영하고, 혁신적이며 고품질의 제품들로 이루어진 컬렉션을 제공함으로써 소비자들에게 즐거운 쇼핑 경험을 선사하고 있습니다.<br/></br>

                저희의 샵은 2024년에 작은 시작에서부터 번창하는 온라인 시장으로 성장할 것입니다. jShop의 헌신적인 팀은 최상의 품질의 상품을 보장하기 위해 끊임없이 노력하고 있습니다. 우리는 소비자들에게 원활하고 즐거운 쇼핑 경험을 제공하기 위해 노력하고 있습니다.<br/></br>

                jShop을 선택하는 이유는 다양한 제품군에서 선택할 수 있는 폭넓은 상품 라인업, 안전하고 신뢰할 수 있는 거래 환경, 그리고 친절하고 전문적인 고객 서비스가 있습니다. 우리와 함께하면 신뢰할 수 있는 플랫폼에서 안전하게 쇼핑을 즐기실 수 있습니다.<br/></br>

                고객들과의 소통은 우리에게 중요합니다. 궁금한 사항이나 피드백이 있다면 언제든지 연락주세요. jShop을 통해 행복한 쇼핑 경험을 누리시기를 기대합니다. 감사합니다!
                </p>
                <br/></br><br/></br><br/><br/>
        </center>
    </div>
</div>

{% endblock %}